// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "activeadmin_addons/all";
@import "~@activeadmin/activeadmin/src/scss/mixins";
@import "~@activeadmin/activeadmin/src/scss/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$green_status: #43a047;
$yellow_status: #f9a825;
$blue_status: #6090DB;
$red_status: #d32f2f;
.status_tag {
  &.pending_assignment { background: $yellow_status; }
  &.assigned { background: $blue_status; }
  &.completed { background: $green_status; }
  &.pending_approval { background: $red_status; }
  &.draft { background: $blue_status; }
  &.delivering { background: $yellow_status; }
}

tr.even {
  background-color: #cccccc;
}

table tr td {
  vertical-align: middle;
}

h3.status_tag {
  font-size: 1.5em;
}
